<div class="container">
  <div class="row">
    <div class="d-flex flex-row align-items-center justify-content-center">
      <h1 class="shadow-sm p-4 mb-5 bg-white rounded">4</h1>
      <h1 class="shadow-sm p-4 mb-5 bg-white rounded">0</h1>
      <h1 class="shadow-sm p-4 mb-5 bg-white rounded">4</h1>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h5 class="shadow-sm p-3 mb-5 bg-white rounded">Page Not Found</h5>
      <button mat-raised-button color="primary" routerLink="">
        Go Back To Home
      </button>
    </div>
  </div>
</div>
