
/* .loading{
    align-items: center !important;
    justify-content: center;
    width: 100%;
    position: fixed;
} */

/* ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: #fff !important;
} */

@media screen and (min-width:992px) {
    .container {
        padding: 0 200px;
    }
    
}