<div class="container py-2">
  <div class="d-flex align-items-center justify-content-center flex-column">
    <div class="col-md-6 col-12 shadow p-3 mb-5 bg-white rounded flex-column">
      <div *ngIf="!edit" class="float-end">
        <button mat-mini-fab color="white" (click)="onEdit(); postview = false">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <app-user-view-profile [userData]="userData"></app-user-view-profile>
      <button mat-button (click)="postview = !postview; edit = false">
        View Post
        {{ "(" + articles.length + ")"
        }}
      </button>
    </div>
    <div class="col-md-6 col-12">
      <app-blogs
        *ngIf=" articles.length && postview"
        [blogs]="blogs"
        [articles]="articles"
        [blogsSize]="articles.length"
      ></app-blogs>
    </div>
  </div>

  <div
    *ngIf="isLoading"
    class="row d-flex fixed justify-content-center loading"
  >
    <mat-spinner></mat-spinner>
  </div>
  <form
    *ngIf="edit"
    class="row form px-md-5 d-flex align-items-center justify-content-center"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="col-md-6 col-11 col-offset-1 shadow p-3 mb-5 bg-white rounded">
      <mat-form-field >
        <mat-label> Full Name : </mat-label>
        <input
          matInput
          formControlName="displayName"
          [value]="userData.displayName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Profile pic url : </mat-label>
        <input
          matInput
          formControlName="photoURL"
          [value]="userData.photoURL"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Bio : </mat-label>
        <textarea
          matInput
          formControlName="bio"
          [value]="userData.bio"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label> Email : </mat-label>
        <input matInput disabled="true" [value]="userData.email" />
      </mat-form-field>
      <h6>Social :</h6>
      <mat-form-field>
        <mat-label> Facebook Url : </mat-label>
        <input
          matInput
          formControlName="facebookURL"
          [value]="!!userData.facebookURL ? userData.facebookURL : ''"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Instagram Url : </mat-label>
        <input
          matInput
          formControlName="instagramURL"
          [value]="!!userData.instagramURL ? userData.instagramURL : ''"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label> LinkedIn Url : </mat-label>
        <input
          matInput
          formControlName="linkedinURL"
          [value]="!!userData.linkedinURL ? userData.linkedinURL : ''"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Twitter Url : </mat-label>
        <input
          matInput
          formControlName="twitterURL"
          [value]="!!userData.twitterURL ? userData.twitterURL : ''"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label> github Url : </mat-label>
        <input
          matInput
          formControlName="githubURL"
          [value]="!!userData.githubURL ? userData.githubURL : ''"
        />
      </mat-form-field>
      <h5 class="m-1">Email Status :</h5>
      <div class="formGroup d-flex flex-row" *ngIf="!userData.emailVerified">
        <h6 class="text-danger m-1">Not Verified :</h6>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="resendVerificationMail()"
        >
          Resend Verification
        </button>
      </div>
      <div class="formGroup d-flex flex-row" *ngIf="userData.emailVerified">
        <mat-icon class="text-success">check</mat-icon
        ><span class="text-success">
          <h6 class="text-success">Verified</h6>
        </span>
      </div>
      <div class="d-flex flex-row m-1">
        <button
          mat-raised-button
          type="submit"
          class="m-1"
          color="primary"
          [disabled]="!profileForm.valid || !userData.email"
        >
          Save
        </button>
      </div>
    </div>
  </form>

</div>
