<div
  class="
    container
    my-5
    py-5
    col-md-6 col-10
    shadow-sm
    p-3
    mb-5
    bg-white
    rounded
  "
>
  <h3 class="text-center">Reset Password</h3>
  <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
    <strong>An Error Occurred:</strong>{{ errorMsg }}
  </div>
  <form class="row form p-md-5">
    <mat-form-field floatLabel="never">
      <mat-label><mat-icon>email</mat-icon> Enter your email </mat-label>
      <input
        matInput
        type="email"
        class="formControl"
        placeholder="Email Address"
        #passwordResetEmail
        required
      />
    </mat-form-field>

    <div class="d-flex flex-row m-1">
      <button
        mat-raised-button
        type="submit"
        class="m-1"
        color="primary"
        [disabled]="passwordResetEmail.value == ''"
        (click)="resetPassword(passwordResetEmail.value)"
      >
        Reset
      </button>

      <a mat-button color="primary" class="m-1" routerLink="/login"
        >Go back to ? Login</a
      >
    </div>
  </form>
</div>
