<div class="container py-5">

    <div class="row">
        <div class="col-md-10">
            <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
                <mat-form-field floatLabel="never" class="title">
                    <input matInput formControlName="title" placeholder="Title" (ngModelChange)="onChangeTitle($event)"
                        required />
                </mat-form-field>
                <mat-form-field floatLabel="never" class="sub-title">
                    <input matInput formControlName="subtitle" placeholder="Sub-title"
                        (ngModelChange)="onChangeSubTitle($event)" />
                </mat-form-field>
                <div class="form-group">
                    <label for="editor">
                        <h3>Description</h3>
                    </label>
                    <div class="bg-light">
                        <quill-editor [styles]="editorStyle" [modules]="config" (ngModelChange)="onChange($event)"
                            (onContentChanged)="maxLength($event)" formControlName="editor">
                        </quill-editor>
                        <!-- <span *ngIf="editorForm.get('editor').value != null">{{
                1000000 - editorForm.get("editor").value.length
              }}</span> -->
                    </div>
                </div>
                <!-- <div class="alert alert-info" role="alert">
            <strong> </strong> Category separated by comma "," e.g. : Firebase, Angular, etc.
          </div> -->
                <mat-form-field floatLabel="never" class="category">
                    <input matInput formControlName="category" placeholder="category"
                        (ngModelChange)="onChangeCategory($event)" required />
                </mat-form-field>
                <!-- <mat-radio-button class="ml-2" (change)="onSelect($event)" value="public"> Public</mat-radio-button>
             <mat-radio-button class="ml-2" (change)="onSelect($event)" value="private"> Private</mat-radio-button><br> -->
                <button class="btn btn-primary mt-5" [disabled]="!editorForm.valid">
                    Save
                </button>
            </form>
        </div>

        <div class="bg-white my-5" *ngIf="editorContent != null || title != null || subTitle != null">
            <h3 class="m-md-5 m-1">Preview :</h3>

            <!-- <div class="ql-container ql-snow my-5" style="border-width: 0"> -->

            <h1 class="text-center" *ngIf="title != null" [innerHTML]="title"
                style="font-size: 35px; font-weight: bold"></h1>
            <h4 class="text-center mb-5" *ngIf="subTitle != null" style="
              font-size: 18px;
              font-weight: normal;
              color: rgb(92, 92, 92);
            ">
                {{ subTitle }}
            </h4>
            <div class="m-3">
                <img *ngIf="temp.photoURL" src="{{ temp.photoURL }}" />
                <span class="px-1">{{ temp.displayName }}</span><br>
                <span class="px-1 text-secondary" style="font-size: 14px;">{{temp.created_time | date: 'medium' }}</span>
            </div>
            <div class="ql-container ql-snow ql-editor"
                style="border-width: 0; font-size:25px; overflow:hidden !important">
                <div style="width: 100%" class="p-md-5 p-1" *ngIf="editorContent!=null"
                    [innerHTML]="editorContent | safe: 'html'">
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>