<div class="container py-5" *ngIf="isData">
  <input
    *ngIf="blogs"
    matInput
    class="my-3 shadow-sm p-3 mb-5 bg-white rounded"
    type="text"
    name="article"
    [(ngModel)]="article"
    (ngModelChange)="search($event)"
    placeholder="Search by category or title"
  />
  <div class="row shadow-sm p-0 px-md-2 mb-md-5 rounded">
    <div *ngFor="let article of blogs; index as i" class="bg-white mt-1">
      <!-- <div *ngIf="article != undefined"> -->
      <div class="m-3">
        <img
          src="{{ article.photoURL }}"
          aria-label="profile-pic"
          alt="profile-pic"
        />
        <span class="px-1 view_pro" (click)="userViewProfile(article.uid)">{{
          article.name
        }}</span><span
        *ngIf="article.edit"
        id="edit"
        class="float-end"
        (click)="editBlog(article._id, article.uid)"
        ><button mat-mini-fab color="white">
          <mat-icon>edit</mat-icon>
        </button></span><span
        *ngIf="article.dlt"
        id="delete"
        class="float-end"
        (click)="deleteBlog(article._id, article.uid)"
        ><button mat-mini-fab color="warn">
          <mat-icon>delete_forever</mat-icon>
        </button></span
      ><br>
        <span class="px-1 text-secondary" style="font-size: 14px;">{{article.created_time | date: 'mediumDate' }}</span>
        
      </div>
      <div class="row" (click)="singleRoute(article._id)" style="cursor: pointer !important;">
        <h1
          class="text-capitalize"
          [innerHTML]="article.title"
          style=" font-weight: bold"
        ></h1>
        <h4
          class="text-capitalize"
          style=" font-weight: normal; color: rgb(92, 92, 92)"
        >
          {{ article.subtitle }}
        </h4>

        <div style="border-width: 0; ">
          <div
            style="width: 100%"
            class="blog"
            *ngIf="article != null"
            [innerHTML]="article.blog | safe: 'html'"
          ></div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <a
          (click)="singleRoute(article._id)"
          class="mt-2"
          style="font-size: 18px; text-decoration: none; cursor: pointer"
          >Read More</a
        >{{article.isLike}}
        <button
          mat-icon-button
          color="white"
          (click)="isLike = !isLike; LikeUpdate(article._id, article.likeCount)"
        >
          <mat-icon *ngIf="article.isLike">favorite</mat-icon>
          <mat-icon *ngIf="!article.isLike" >favorite_border</mat-icon>
          <span>{{ article.likeCount }}</span>
        </button>
      </div>
      <hr />
    </div>
    <mat-paginator
      class="float-end"
      [length]="this.blogsSize"
      [pageSize]="10"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>

  <div
    *ngIf="isLoading"
    class="row d-flex fixed justify-content-center loading"
  >
    <mat-spinner></mat-spinner>
  </div>
</div>

<h2 class="container text-center py-5" *ngIf="!isData">No Blog...</h2>
